@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter Tight, sans-serif;
    background-color: rgb(33, 43, 66);
}

html {
    scroll-behavior: smooth;
}

p, .logo {
    color: rgb(235, 235, 235)
}

nav, .nav-links {
    display: flex;
    font-weight: 400;
}


nav {
    position: sticky;
    top: 0px;
    background-color: rgba(25, 38, 68, 0.5);
    padding-right: 2rem;
    justify-content: right;
    align-items: center;
    height: 5vh;
    z-index: 40;
}

.nav-links {
    list-style: none;
    gap: 3rem;
    font-size: 1.5rem;
}

a {
    color: rgb(235, 235, 235);
    text-decoration: none;
}

a:hover {
    color: rgb(175, 175, 175);
    text-decoration: underline;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* SECTION - GENERAL */
section {
    padding-top: 6vh;
    height: 94vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE */
#home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 75vh;
}

.profile-img-container {
    display: flex;
    height: 400px;
    width: 400px;
    clip-path: circle();
    margin: auto 0;
}

.prof-text {
    align-self: center;
    text-align: center;
}

.prof-text p {
    text-align: center;
}

.prof-text__p1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.prof-text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.uni-fl-text {
    background: linear-gradient(to right, rgb(250, 70, 22), rgb(14, 58, 255));
    /* maybe not have it right idk */
    color: transparent;
    background-clip: text;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.title {
    background: linear-gradient(rgb(134, 133, 168), rgb(126, 145, 197));
    color: transparent;
    background-clip: text;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

#socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    margin: 5px;
    cursor: pointer;
    height: 2rem;
    border-radius: 10px;
}

/* ABOUT */
#about {
    position: relative;
    margin-top: 8rem;
    gap: 5rem;
    height: 75vh;
}

.about-containers, .about-details-container {
    display: flex;
    justify-content: right;
}

.about-containers {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-text-container {
    font-size: 1.75rem;
    margin: 15px;
}

.about-img-container {
    display: flex;
    justify-content: right;
    height: 400px;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
}

/* EXPERIENCE */
#experience {
    position: relative;
    margin-top: 8rem;
    gap: 5rem;
    height: 75vh;
}

.card-containers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.card-container {
    height: 325px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 4px solid transparent;
    background: linear-gradient(rgb(33, 43, 66), rgb(33, 43, 66)) padding-box, 
    linear-gradient(rgb(250, 70, 22), rgb(14, 58, 255)) border-box; /* PLACEHOLDER COLORS */
    border-style: solid;
    border-radius: 15px;
    padding: 50px;
    margin-bottom: 50px;
}

.card-title {
    font-size: large;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: rgb(235, 235, 235);
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    font-size: 1.75rem;
}

.card-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    color: rgb(235, 235, 235);
    line-height: 50px;
    font-size: 1.25rem;
    font-weight: 600;
}

/* PROJECTS */
.project-img-container {
    
}


/* CONNECT */
.connect-containers, .connect-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connect-info-title {
    font-size: 1.75rem;
    margin-top: 1rem;
    
}

.connect-info-text {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}